*.alt
*.arearep
*.areasrr
*.asd
*.bgn
*.bit
*.cam
*.ccl
*.dir
*.drc
*.hrr
*.htm
*.html
*.ini
*.log
*.log.bak
*.log.bak.1
*.log.bak.2
*.log.bak.3
*.log.bak.4
*.log.bak.5
*.lsedata
*.mrp
*.ncd
*.ngd
*.ngo
*.p2t
*.p3t
*.pad
*.par
*.prf
*.pt
*.rpt
*.srd
*.srf
*.srm
*.srs
*.srr
*.srr.db
*.sty
*.synproj
*.t2b
*.twr
*.vdbs
*.vcd
*.xml
*_prim.v
.build_status
.recovery
xxx_lse_cp_file_list
xxx_lse_sign_file
synlog/*
syntmp/*
synwork/*
