BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "ref_clk_i" SITE "E1" ;
LOCATE COMP "clk_pixel_o" SITE "J6" ;
LOCATE COMP "reset_n_i" SITE "E2" ;
LOCATE COMP "vsync_o" SITE "K8" ;
LOCATE COMP "hsync_o" SITE "K9" ;
LOCATE COMP "de_o" SITE "H10" ;
LOCATE COMP "pd_o[0]" SITE "D10" ;
LOCATE COMP "pd_o[1]" SITE "F1" ;
LOCATE COMP "pd_o[2]" SITE "D9" ;
LOCATE COMP "pd_o[3]" SITE "F2" ;
LOCATE COMP "pd_o[4]" SITE "E10" ;
LOCATE COMP "pd_o[5]" SITE "J3" ;
LOCATE COMP "pd_o[6]" SITE "E9" ;
LOCATE COMP "pd_o[7]" SITE "K3" ;
LOCATE COMP "pd_o[8]" SITE "F10" ;
LOCATE COMP "pd_o[9]" SITE "J4" ;
LOCATE COMP "pd_o[10]" SITE "F9" ;
LOCATE COMP "pd_o[11]" SITE "K4" ;
LOCATE COMP "pd_o[12]" SITE "G10" ;
LOCATE COMP "pd_o[13]" SITE "J5" ;
LOCATE COMP "pd_o[14]" SITE "G9" ;
LOCATE COMP "pd_o[15]" SITE "K5" ;
LOCATE COMP "pd_o[16]" SITE "H9" ;
LOCATE COMP "pd_o[17]" SITE "K6" ;
LOCATE COMP "pd_o[18]" SITE "J10" ;
LOCATE COMP "pd_o[19]" SITE "J7" ;
LOCATE COMP "pd_o[20]" SITE "J9" ;
LOCATE COMP "pd_o[21]" SITE "K7" ;
LOCATE COMP "pd_o[22]" SITE "K10" ;
LOCATE COMP "pd_o[23]" SITE "J8" ;
IOBUF PORT "ref_clk_i" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "reset_n_i" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "clk_pixel_o" IO_TYPE=LVCMOS18 ;
IOBUF PORT "vsync_o" IO_TYPE=LVCMOS18 ;
IOBUF PORT "hsync_o" IO_TYPE=LVCMOS18 ;
IOBUF PORT "de_o" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[0]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[2]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[3]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[4]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[5]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[6]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[7]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[8]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[9]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[10]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[11]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[12]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[13]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[14]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[15]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[16]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[17]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[18]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[19]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[20]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[21]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[22]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pd_o[23]" IO_TYPE=LVCMOS18 ;
GSR_NET NET "reset_n_i_c";
